.timeline {
    position: relative;
    flex: 0 0 1580px;
    padding: 10px;
}

.timeline__mark {
    position: absolute;
    top: 0;
    transform: translateX(-50%)
}

.timeline__mark.last-child {
    transform: translateX(-100%);
}


.timeline__mark--current-time {
    display: inline-block;
    margin-top: -4px;
    padding: 4px 10px;
    background:#1976d2;
    color: white;
    border-radius: 5px;
    left: 45%;
}
