.btn {
    font-size: 15px;
    padding: 10px 18px;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    background: #1976d2;
}

.btn:active {
    background: #004ba0
}