.btn {
    font-size: 15px;
    padding: 10px 18px;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    background: #1976d2;
    cursor: pointer;
}

.btn:active {
    background: #004ba0
}

.btn--circle {
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    background: #e0e0e0;
    color: #aaaaaa;
    font-size: 25px;
    position: relative;
}

.btn--circle:active {
    background: #cacaca;
}

.btn__icon {
    width: 15px;
    height: 15px;
    vertical-align: baseline;
}

.btn--gray {
    background: #e0e0e0;
    color: #313131;
}

.btn--gray:active {
    background: #cacaca;
}

.btn[disabled] {
    opacity: .3;
    cursor: not-allowed;
}