:root {
  --header-height: 78px;
  --scedule-header-height: 62px;
  --browser-scroll-height: 20px;
  --timeline-label-height: 61px;
  --timeline-mark-height: 29px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', "Areal",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.field label {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 5px;
}

.field input {
  font-size: 18px;
  padding: 8px 6px;
  border-radius: 5px;
  border: 2px solid #bebebe;

}

.field input::placeholder {
  color: #bebebe;
}

.field input.is-invalid, .field button.is-invalid {
  border-color: #dc3545;
}

.field input.is-invalid:focus {
  outline: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
}

.field-info {
  display: flex;
  justify-content: space-between;
}
.input-time {
  width: 68px;
}

.avatar-icon {
  height: 25px;
  border-radius: 50%;
}

.custom-modal-overlay {

}

.custom-modal {
  background-color: white !important;
  text-align: center;
  padding: 25px 50px !important;
  width: 500px !important;
  border-radius: 10px;
}

.custom-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}