.scedule__header {
    z-index: 2;
    display: flex;
    border-bottom: 1px solid #e0e0e0;   
    align-items: center;
    background: white;
    height: var(--scedule-header-height);
    position: sticky;
    top: 78px;
}

.scedule__header .react-datepicker-wrapper {
    flex: 0 0 300px;
    height: 61px;
}

.timeline {
    position: relative;
    flex: 1 0 0;
    display: flex;
    height: 61px;
}

.timeline-label {
    flex: 1 0 0;
    text-align: center;
    position: relative;
    line-height: var(--timeline-label-height);
}

.timeline-label:after {
    content: '';
    width: 0;
    border-left: 1px solid #e0e0e0;
    height: calc(
        100vh -
        var(--header-height) -
        var(--scedule-header-height) -
        var(--browser-scroll-height)
    );
    position: absolute;
    left: 50%;
    top: 100%;
    background: #e0e0e0;
    pointer-events: none;
}

.timeline__mark--current-time {
    position: absolute;
    display: inline-block;  
    padding: 4px 10px;
    background:#1976d2;
    color: white;
    border-radius: 5px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.timeline__mark--current-time:after {
    content: '';
    width: 1px;
    height: calc(
        100vh -
        var(--header-height) -
        var(--scedule-header-height) -
        var(--browser-scroll-height) +
        calc(
            (
                var(--timeline-label-height) -
                var(--timeline-mark-height)
            ) / 2
        )
    );
    position: absolute;
    left: 50%;
    top: 100%;
    background: #1976d2;
}


