.scedule {
    position: relative;
    min-width: 1140px;
    padding: 0 20px 20px;
    height: calc(
        100vh -
        var(--header-height) -
        var(--browser-scroll-height)
    );
}

.scedule__content {
    background: #f5f5f5;
    display: flex;
    height: calc(
        100vh -
        var(--header-height) -
        var(--scedule-header-height) -
        var(--browser-scroll-height)
    );
}

.scedule__timelines {
    flex: 1 0 800px;
    overflow: hidden;
}

/* .scedule__stage {
    width: 300px;
    background: white;
    padding: 20px 15px 10px;
    border-right: 1px solid #e0e0e0
    
}

.room {
    position: relative;
    display: flex;
    align-items: center;
}

.room:hover .room__info-title {
    color: #1976d2;
}


.room__info {
    font-size: 20px;
    flex: 0 0 300px;
    background: white;
    padding: 20px 15px 10px;
    border-right: 1px solid #e0e0e0;
    font-weight: 500;
}

.room__info-capacity {
    font-size: 16px;
    font-weight: 400;
}

.room__events {
    height: 37px;
    background: white;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 17px;
} */
