.scedule {
    position: relative;
    background: #f5f5f5;
    overflow: auto;
    left: 0;
    right: 0;
}

.scedule__items {
    width: 1880px;
}

.scedule__stage {
    width: 300px;
    background: white;
    padding: 20px 15px 10px;
    border-right: 1px solid #e0e0e0
    
}

.room {
    position: relative;
    display: flex;
    align-items: center;
}

.room:hover .room__info-title {
    color: #1976d2;
}


.room__info {
    font-size: 20px;
    flex: 0 0 300px;
    background: white;
    padding: 20px 15px 10px;
    border-right: 1px solid #e0e0e0;
    font-weight: 500;
}

.room__info-capacity {
    font-size: 16px;
    font-weight: 400;
}

.room__events {
    height: 37px;
    background: white;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 17px;
}
